#gp-logo {
    background-color: white;
    padding: 10px;
}

bio {
    text-align: center;
}

.bio img {
    width: 100%;
    border-radius: 50%;
}

.me img {
    background-color: white !important;
}

.social-icons {
    text-align: center;
}

.social {
    color: darkgray;
    font-size: 0.6em !important;
}
